header {font-family:'Lobster', cursive;}

footer {font-family: "Comic Sans MS", Cursive, sans-serif}

footer {padding-bottom: 13px;}

.homelink a:link {
			color: green;
}

.homelink a:visited {
			color: red;
}

.homelink a:hover {
			font-weight: bold;
}

.homelink a:active {
			text-decoration: none;
}

.menulink a:link {
			color: green;
}

.menulink a:visited {
			color: red;
}

.menulink a:hover {
			font-weight: bold;
}

.menulink a:active {
			text-decoration: none;
}

.contactlink a:link {
			color: green;
}

.contactlink a:visited {
			color: red;
}

.contactlink a:hover {
			font-weight: bold;
}


.contactlink a:active {
			text-decoration: none;
}

