header {font-family:'Lobster', cursive;}

footer {font-family: "Comic Sans MS", Cursive, sans-serif;
			padding-bottom: 13px;
}

noscript > .jumbotron{
	margin-top: 10px;
	text-align: center;
	background-color: red;
	color:white;
}

.active {
  height: 130px;
}
.active li {
  position: absolute;
  top: 200px;
}
.active li.current {
  top: 30px;
}

.carousel-caption {
	font-family: "Comic Sans MS", Cursive, sans-serif;
	color: black;
	text-shadow: 2px 2px #adad85;
}

.active .buttons {
  padding: 5px 0;
  background: grey;
  text-align: center;
  z-index: 10;
  position: relative;
}
.carouselbox button {
  border: none;
  display: none;
}
.active button {
  display: block;
} 
.offscreen {
  position: absolute;
  left: -2000px;
}

.homelink a:link {
			color: green;
}

.homelink a:visited {
			color: red;
}

.homelink a:hover {
			font-weight: bold;
}

.homelink a:active {
			text-decoration: none;
}

.menulink a:link {
			color: green;
}

.menulink a:visited {
			color: red;
}

.menulink a:hover {
			font-weight: bold;
}

.menulink a:active {
			text-decoration: none;
}

.contactlink a:link {
			color: green;
}

.contactlink a:visited {
			color: red;
}

.contactlink a:hover {
			font-weight: bold;
}


.contactlink a:active {
			text-decoration: none;
}

